//link(rel="stylesheet", href="/public/bootstrap.min.css")
//script(src='/public/jquery.min.js')
//script(src='/public/bootstrap.min.js')
link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
meta(name="viewport", content="width=device-width, initial-scale=1")

