nav.navbar.navbar-default
  div.container-fluid
    div.navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar") Button
      h3 Foster.bz
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a(href="/") home
        li
          a(href="/pictures") pictures
        li
          a(href="/blog") blog
      ul.nav.navbar-nav.navbar-right
        li.active
          a(href="/resume") resume
        li
          a(href="/contact") contact me
