doctype html
html(lang="en")
  head
    title= "Foster.bz Home"
    include includes/header.jade
  body
    div.container
      include includes/navbar.jade
      div.container-fluid
        h1 Say Hello!
        div.list-group
          a.list-group-item.active(href="mailto:george@foster.bz") Email: george@foster.bz
          a.list-group-item(href="http://www.linkedin.com/in/georgefoster", target="_blank") LinkedIn: http://www.linkedin.com/in/georgefoster
          a.list-group-item(href="https://twitter.com/georgepfoster", target="_blank") twitter: @georgepfoster
          a.list-group-item(href="https://plus.google.com/100553381412868165824/about", target="blank") Google+: https://plus.google.com/100553381412868165824
