doctype html
html(lang="en")
  head
    title= "Foster.bz Home"
    include includes/header.jade
  body
    div.container
      include includes/navbar.jade
      div.jumbotron
          div.container-fluid
             h1 Foster.bz
             p Enterprise Consulting Services
      div.container-fluid
          div.row 
             div.col-md-4
                h2 Custom Development
                p Expert developers with 15+ years experience in C++, Java, Python, RoR, Node.js, and others - specializing in enterprise scale problems and real time data processing across a variety of industries.
             div.col-md-4
                h2 Big Data
                p Deep Hadoop experience across multiple distributions: Pivotal, Hortonworks, and Cloudera as well as the supporting tooling frameworks.
                p We also offer custom Spark and Storm development for next generation big data solutions.
             div.col-md-4
                h2 Real Time Data Processing - Internet of Things
                p Have you heard the saying, "Software is eating the world"? Internet connected devices are rapidly on the rise and real time analytics are needed more than ever.
      //div.jumbotron
      //    div.container-fluid
      //       h1 Stuff
      //       p More Stuff
