doctype html
html(lang="en")
    head
        title= "Foster.bz Home"
        include includes/header.jade
    body
        div.container
            include includes/navbar.jade
            include includes/comingSoon.jade
            include includes/footer.jade
